#home {
    min-height: 85vh;
}

.background {
    background-image: url(/public/assets/img/back.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.table-wrapper {
    box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    white-space: nowrap;
    background-color: white;
}

.fl-table td,
.fl-table th {
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
}
